<div class="card message">
    <p-messages [value]="messages" [closable]="false"></p-messages>
</div>
<form class="form" [formGroup]="userForm" (ngSubmit)="registerUser()">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
        <div class="flex">
        <label>
            <input class="input" type="text" placeholder="" id="name" formControlName="name"> 
            <span>Firstname</span>
        </label>

        <label>
            <input class="input" type="text" placeholder="" id="lastName" formControlName="lastName">
            <span>Lastname</span>
        </label>
    </div>  
            
    <label>
        <input class="input" type="email" placeholder="" id="email" formControlName="email">
        <span>Email</span>
    </label> 
        
    <label>
        <input class="input" type="password" placeholder="" id="password" formControlName="password">
        <span>Password</span>
    </label>
    <label>
        <input class="input" type="number" placeholder="" id="number" formControlName="number">
        <span>Numero de telefono</span>
    </label>
    <button class="submit">Registrarse</button>
    <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
</form>