.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9bc6f52e;
  padding: 10px 20px;
  color: white;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

.logo img {
  max-width: 100px; /* Ajusta el tamaño de la imagen del logo según tus necesidades */
}

.menu button {
  margin-right: 10px;
  background-color: #fcd4d445;
  color: black;
  border: none;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu {
    margin-top: 10px;
  }
  .menu button {
    margin: 5px 0;
  }
}

.sidebar {
  position: fixed;
  left: 0;
  width: 250px; /* Ancho del sidebar */
  background-color: #9bc6f52e; /* Cambia este color de fondo según tus preferencias */
  height: 100%;
  padding: 20px;
  transition: left 0.3s;
}

.hidden {
  left: -250px; /* Oculta el sidebar al desplazarlo fuera de la pantalla */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .sidebar {
    display: none; /* Oculta el sidebar cuando la pantalla es igual o menor a 500px */
  }
}

.ui-menubar {
  background-color: #333;
  color: #fff;
}

.ui-menuitem-link {
  color: #fff;
}

img {
  height: 50px;
  margin-right: 10px;
}

.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
}

button {
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #09499e;
  background-color: #e0e8ef99;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.5s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}

button:hover {
  color: #516d91;
  background-color: #e5edf5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

button:active {
  box-shadow: none;
}

.cta {
  position: relative;
  margin: auto;
  padding: 15px 18px;
  transition: all 0.2s ease;
  border: none;
  margin-top: 10px;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #490b0b;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
