<div class="menu">

    <div class="icon-subtitle">TIENDA</div>
    <i class="pi pi-home" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Tienda</span>
    <p-divider></p-divider>
    <i class="pi pi-images" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Galeria</span>
    <p-divider [style]="{'background': '#000000'}"></p-divider>
    <i class="pi pi-shopping-cart" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Carrito</span>
    <p-divider></p-divider>
    <div class="icon-subtitle">INFORMACION</div>
    <i class="pi pi-star-fill" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Favoritos</span>
    <p-divider></p-divider>
    <i class="pi pi-bell" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Notificaciones</span>
    <p-divider></p-divider>
    <i class="pi pi-map-marker" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Ubicacion</span>
    <p-divider></p-divider>
    <div class="icon-subtitle">REDES</div>
    <i class="pi pi-instagram" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Instagram</span>
    <p-divider></p-divider>
    <i class="pi pi-instagram" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Instagram</span>
    <p-divider></p-divider>
    <i class="pi pi-instagram" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Instagram</span>
    <p-divider></p-divider>
    <i class="pi pi-instagram" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Instagram</span>
    <p-divider></p-divider>
    <i class="pi pi-linkedin" style="font-size: 1rem; margin-right: 0.5rem;"></i>
    <span>Linkend</span>

</div>